/* Global styles for all elements */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  user-select: none; /* Disabling mouse selection for better UX */
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 5rem 0 0 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}
